:root{
  --bordercolor: cadetblue
}
* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(68, 144, 118);
}

header {
  display: flex;
  flex-direction: column;

}
header > * {
  flex: 1
}
.header-content{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border:10px var(--bordercolor);
border-style: solid;
margin: 1em;
    
}
h1 {
  padding: 1em;
  font-size: 3em;
  font-weight: bolder;
  display: flex;
}

h2 {
  padding: 1 em;
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  margin-bottom: 1em;
}

nav,
ul,
li {
padding: 5px;
margin: .5em;
font-size: 15px;
display: flex;
flex-direction: column;
  justify-content: center;
  align-items: center;
  color: green;
}
a:hover{
box-shadow: 10px 10px 5px var(--bordercolor);
}
a:visited { 
  text-decoration: none; 
  color: black; 
 }

.imgholder {
display: flex;
background-image: url(../images/htmlbackgroundpic.webp);
background-size: 100%;
background-repeat: no-repeat;
object-fit: contain;
height: 30vh;
}
img{
  display: flex;
  justify-content: center;

}
.main-container {
display: flex;
flex-direction:column;
}
.main-container > * {
  flex: 1;
}

.aboutmesection {
display: flex;
flex-direction: column;
justify-content:center;
}


#aboutmetitle {
  padding: 1em;
 font-weight: bold;
  font-size: 2em;
  display: flex;
  justify-content: center;
  border: 7px var(--bordercolor);
border-style: solid;
margin: 1em;
}

.aboutme {
  line-height: 3;
  display:flex;
  text-align: center;
  padding: 2rem;
}

.projectsection {
  display: flex;
  flex-direction: column;
}

#projectstitle {
  padding: 1em;
  font-size: 2em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  border: 7px var(--bordercolor);
border-style: solid;
margin: 1em
}
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#project-1 {
background-image: url(../images/Screenshot\ 2023-02-05\ at\ 8.44.55\ PM.png);
background-size: cover;
background-repeat: no-repeat;
object-fit: contain;
width: 200px;
height: 200px;
margin: 1rem;
padding: .5rem;
}
#project-2 {
background-image: url(../images/Screenshot\ 2023-02-05\ at\ 8.44.55\ PM.png);
background-size: cover;
background-repeat: no-repeat;
object-fit: contain;
width: 200px;
height: 200px;
margin: 1rem;
padding: 1rem;
}
 span{
background-color: white;
border: 3px var(--bordercolor);
border-style: solid;
 }

footer {
display: flex;
flex-direction: column;
}

footer > * {
  flex: 1;
}
#contacttitle {
  font-size: 2em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  border: 7px var(--bordercolor);
border-style: solid;
margin: 1em;
}

#contactme {
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
padding: 1em;
margin-bottom: 1em;
}
  
  /* Large smartphones - navbar changes color */
  @media screen and (min-width: 768px) {
  header{ 
    flex-direction: row;
  
  }
  ul, li{
    flex-direction: row;
    justify-content: flex-end;
    
  }

  .projects {
    flex-direction: row;
  }
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (min-width: 576px) {
    
  }